@model IEnumerable<Presentation.Models.ViewModel.FlightListViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Available Flights</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartureDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Arrivaldate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountryFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountryTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Arrivaldate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountryFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountryTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                    @if (item.Seats > 0)
                    {
                        if (User.Identity.IsAuthenticated)
                        {
                            @Html.ActionLink("Book", "Book", new { FlightId = item.Id, PricePaid = item.price, seats = item.Seats })
                        }
                        else
                        {
                            <a onclick="test('@item.Id', '@item.price', '@item.Seats')" id="BookChoice">Book</a>
                        }
                    }
                 

                    
            </td>
        </tr>
}
    </tbody>
</table>

<script>
    function test(flightId, price, seats) {
        var Response = window.confirm("Are you sure you want to book a flight without being logged in?");

        if (Response) {
            // User chose to continue as a guest
            window.location.href = '@Url.Action("Book", "Tickets")' + '?FlightId=' + flightId + '&PricePaid=' + price + '&seats=' + seats;
        }
        else {
            // User chose to log in
            window.location.href = '/Identity/Account/Login';


        }
    }
</script>