@model IEnumerable<Presentation.Models.ViewModel.FlightListViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Admin flight List</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartureDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Arrivaldate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountryFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountryTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Arrivaldate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountryFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountryTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.ActionLink("Flight Tickets", "Tickets", new {flightid = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
