@model IEnumerable<Presentation.Models.ViewModel.TicketViewModel>

@{
    ViewData["Title"] = "Tickets";

}

<h1>Tickets of Flight</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Passport)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Passport)
            </td>
     
            <td>
                @* @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) | *@
                    @Html.ActionLink("Details", "TicketDetails", new { ticketId = item.Id })
                @* @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }) *@
            </td>
        </tr>
}
    </tbody>
</table>
